
h1 {
    color: black;
    font-size: 22pt;
    line-height: 39pt;
    text-align: center;
}

h3 {
  color: blue;
}

img {
 display: block;
 margin: left;
 border-radius: 50%;
 height: 150px;
 width: 150px;
 margin : 20px;
}

.box-upper {
  padding-left: 50px;
}
.box-description{
  padding: 20px;
  border-style: outset;
  height: 170px;
  /*width: 400px;*/
}

.box {
  background-color: #EEEEEE;
  margin: 20px;
}
